th {
    color: #1c75bc;
    background-color: whitesmoke;
}

#clickable {
    cursor: pointer
}
.icon {
    cursor: pointer
}

#tbl{

    background-color: #DFD3EA;
}

#formbtn{
    margin-left: 450px;
}